rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    //user must be authenticated
    match /user/{userId} {
      allow update, delete ,write : if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null;
    }
  }
}